@import './spectre.min.css';

body {
  padding: 1rem;
}

.bg-grey {
  background-color: #efefef;
  padding: 1rem;
}

.hero {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.hero > h2 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/*For the definitions editor. */
#editor > .objectAttr {
  float: left;
}

.attrChildren {
  margin-left: 20px;
  display: none;
  font-weight: normal;
  border-left: 1px dotted #ddd;
}

.compoundAttr.open > .attrChildren {
  display: block;
}

.hashToggle {
  cursor: pointer;
}

.hashToggle:before{
  content: '▸';
  color: #333;
  line-height: 1em;
  margin-right: 3px;
}
.open > .hashToggle:before {
  content: '▾';
}

.attrRemove {
  visibility: hidden;
  margin-right: 5px;
  text-decoration: none;
}

.attrName {
  font-weight: bold;
  font-size: 125%
}

.hashAttribute:hover > .attrRemove {
  visibility: visible;
}
